<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Edit {{content.type | capitalize}}
    </ion-title>
    <ion-buttons end>
      <button ion-button outline color="primary" [disabled]="!contentForm.valid" (click)="saveContent()">
        save
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <img *ngIf="content.picture" class="picture" [src]="content.picture" (click)="setPicture()"/>
    <div *ngIf="!content.picture" [class]="'picture center-picture ' + getFirstLetter(content.title)"
         (click)="setPicture()">
      {{content.title | firstLetter}}
    </div>
  </div>
  <form [formGroup]="contentForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating>{{content.type | capitalize}}:</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description:</ion-label>
        <ion-textarea autosize formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
