page-add-names {
  img {
    width: auto;
    margin: auto;
    display: block;
    max-width: 100%;
  }
  #avatar {
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 20%;
  }
}
