// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// App Combined Variables
// --------------------------------------------------
// Android, iOS, and Windows variables go here
/* Side Menu */
$menu-width: 204px;
/* Spinners */
$refresher-icon-color: map-get($colors, primary);
$spinner-ios-crescent-color: map-get($colors, primary);
$spinner-md-crescent-color: map-get($colors, primary);
$spinner-wp-crescent-color: map-get($colors, primary);

$alphabet: (
  a: rgb(0, 0, 180),
  b: rgb(175, 13, 102),
  c: rgb(146,248,70),
  d: rgb(255, 200, 47),
  e: rgb(255,118,0),
  f: rgb(185,185,185),
  g: rgb(235,235,222),
  h: rgb(100,100,100),
  i: rgb(255,255,0),
  j: rgb(55,19,112),
  k: rgb(255,255,150),
  l: rgb(202,62,94),
  m: rgb(205,145,63),
  n: rgb(12,75,100),
  o: rgb(255,0,0),
  p: rgb(175,155,50),
  q: rgb(0,0,0),
  r: rgb(37,70,25),
  s: rgb(121,33,135),
  t: rgb(83,140,208),
  u: rgb(0,154,37),
  v: rgb(178,220,205),
  w: rgb(255,152,213),
  x: rgb(0,0,74),
  y: rgb(175,200,74),
  z: rgb(63,25,12)
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
