<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Names</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addName()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Pull to refresh -->
  <ion-refresher (ionRefresh)="refreshContent($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- Loading -->
  <div *ngIf="isLoading" text-center padding-top>
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <!-- List of Names -->
  <ion-list>
    <button ion-item *ngFor="let name of names" (click)="contentProfile(name)">
      <ion-thumbnail *ngIf="name.picture" item-start>
        <ion-img [src]="name.picture"></ion-img>
      </ion-thumbnail>
      <ion-thumbnail *ngIf="!name.picture" item-start class="alphabet-content" [ngClass]="getFirstLetter(name.title)">
        {{name.title | firstLetter}}
      </ion-thumbnail>
      <h2>{{name.title}}</h2>
      <p>{{name.description}}</p>
    </button>
  </ion-list>
</ion-content>
