<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Names</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addName()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let name of names" (click)="nameProfile(name)">
      <ion-thumbnail *ngIf="name.picture" item-start>
        <ion-img [src]="name.picture"></ion-img>
      </ion-thumbnail>
      <ion-thumbnail *ngIf="!name.picture" item-start class="alphabet-content" [ngClass]="getFirstLetter(name.name)">
        {{name.name | firstLetter}}
      </ion-thumbnail>
      <h2>{{name.name}}</h2>
      <p>{{name.description}}</p>
    </button>
  </ion-list>
</ion-content>
